.navbar-custom {
  .navbar-brand img {
    width: 125px;

    @include media-breakpoint-up(lg) {
      width: 200px;
    }
  }

  .navbar-nav {
    .nav-link {
      position: relative;
      color: $primary;
      font-weight: bold;

      &:hover,
      &:focus {
        //color: tint-color($primary, 10%);
        border-bottom: $primary 0.15rem solid;
        padding-bottom: 0.35rem;
      }

      //&.disabled {
      //  color: $navbar-dark-disabled-color;
      //}

      .badge {
        @include media-breakpoint-up(lg) {
          position: absolute;
          top: -4px;
          right: -4px;
        }
      }
    }

    .show > .nav-link,
    .nav-link.active {
      //color: tint-color($primary, 10%);
      border-bottom: $primary 0.25rem solid;
      padding-bottom: 0.25rem;
    }
  }

  .nav-external {
    .nav-link {
      margin-right: 0.5rem;
    }
    .badge {
      position: absolute;
      top: -4px;
      right: -10px;
    }
  }

  .navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: escape-svg($navbar-light-toggler-icon-bg);
  }

  //.navbar-text {
  //  color: $navbar-dark-color;
  //  a,
  //  a:hover,
  //  a:focus {
  //    color: $navbar-dark-active-color;
  //  }
  //}
}